@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
  margin-top: 0.2rem !important;
  margin-bottom: 1rem !important;
  border: none !important;
  height: 4px; /* Adjust height as needed */
  background-color: #00a7e1 !important;
  &.active {
    background-color: #FFFFFF !important; /* Change color to your desired color */
  }
}
