.error-message {
    color: white;
}

.btn-custom {
    background-color: #003459 !important; // Set the background color
    color: #ffffff !important; // Set the text color to white for better contrast
  }