
/* Create a grid container with two columns and a gap of 10px */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
}

/* Style the FAQ section */
.faq-section {
    margin: 100px 0 0 50px;
}

/* Style the details element within the FAQ section */
.faq-section details {
    margin-bottom: 30px;
    background: white; 
    border-radius: 5px; 
    padding: 10px; 
    position: relative; 
}

/* Style the summary element within the FAQ section */
.faq-section summary {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    outline: none;
    color: #007EA7;
    list-style: none;
    position: relative; 
}

/* Hide the default marker for the summary element */
.faq-section summary::-webkit-details-marker {
    display: none;
}

/* Add an arrow icon after the summary element */
.faq-section summary::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../pages/svgs/arrow-down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
}

/* Style the summary element when the details element is open */
.faq-section details[open] summary {
    border-bottom: 1px solid lightgray; 
}

/* Change the arrow icon when the details element is open */
.faq-section details[open] summary::after {
    background-image: url('../pages/svgs/arrow-up.svg');
}

/* Style the paragraphs within the FAQ section */
.faq-section p {
    padding: 0 10px;
    margin-top: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 100px 0 0 0px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.get-in-touch {
    font-size: 64px;
    color: white;

    .highlight {
        color: #007EA7;
    }
}

/* Support.css */

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea {
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
}

.contact-form form .row {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.contact-form form .row input[type="text"] {
    width: 49%; /* to account for the space-between */
}

.contact-form form textarea {
    height: 200px; /* adjust as needed */
}

.contact-form form button {
    padding: 10px;
    background-color: #007EA7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
    width: 30%;
    margin-left: auto;
}