.navbar {
  padding: 10px 0;
}

.navbar-brand img {
  height: auto;
  max-height: 40px;
}

.nav-link {
  margin-right: 10px;
  color: #ebebeb;
}

.user-profile-icon {
  width: 24px; /* Adjust the width to make the icon smaller */
  height: 24px; /* Adjust the height to maintain aspect ratio */
  margin-right: 10px; /* Optional: Add margin to separate the icon from other links */
}
