.navbar {
  padding: 10px 0;
}

.navbar-brand img {
  height: auto;
  max-height: 40px;
}

.nav-link {
  margin-right: 10px;
  color: #ebebeb;
}

.sign-up-btn {
  background-color: blue; 
  border-radius: 25px; 
  color: #ebebeb; 
  
}